<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.dao.JobCompanyMapper">
  <resultMap id="BaseResultMap" type="com.ecjtu.po.JobCompany">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="comCode" jdbcType="VARCHAR" property="comcode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="quarters" jdbcType="VARCHAR" property="quarters" />
    <result column="emolument" jdbcType="DOUBLE" property="emolument" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, companyName, comCode, address, linkman, telephone, quarters, emolument, state, 
    remark
  </sql>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from crm_jobcompany
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_jobcompany
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crm_jobcompany
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecjtu.po.JobCompany">
    insert into crm_jobcompany (id, companyName, comCode, 
      address, linkman, telephone, 
      quarters, emolument, state, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{comcode,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{quarters,jdbcType=VARCHAR}, #{emolument,jdbcType=DOUBLE}, #{state,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecjtu.po.JobCompany">
    insert into crm_jobcompany
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyname != null">
        companyName,
      </if>
      <if test="comcode != null">
        comCode,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="quarters != null">
        quarters,
      </if>
      <if test="emolument != null">
        emolument,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null">
        #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="quarters != null">
        #{quarters,jdbcType=VARCHAR},
      </if>
      <if test="emolument != null">
        #{emolument,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecjtu.po.JobCompany">
    update crm_jobcompany
    <set>
      <if test="companyname != null">
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null">
        comCode = #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="quarters != null">
        quarters = #{quarters,jdbcType=VARCHAR},
      </if>
      <if test="emolument != null">
        emolument = #{emolument,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecjtu.po.JobCompany">
    update crm_jobcompany
    set companyName = #{companyname,jdbcType=VARCHAR},
      comCode = #{comcode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      quarters = #{quarters,jdbcType=VARCHAR},
      emolument = #{emolument,jdbcType=DOUBLE},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>